@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
:root {
  --fixed-m-x: 15px;
  --fixed-m-y: 20px;
  --logo-h: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
@media (width < 62.5rem) {
  html {
    scroll-snap-type: none;
  }
}

img {
  filter: drop-shadow(10px 6px 6px #c3c3c3);
}

.logo {
  font-weight: bolder;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  background-color: #fff;
  animation-name: bg-change;
  animation-timeline: scroll();
}
@media (width < 62.5rem) {
  body {
    animation-name: bg-change-margin;
  }
}

@keyframes bg-change {
  0%, 8.3333333333% {
    background-color: #fff;
  }
  16.6666666667%, 25% {
    background-color: #f8e4de;
  }
  33.3333333333%, 41.6666666667% {
    background-color: #e7e7e7;
  }
  50%, 58.3333333333% {
    background-color: #def6ff;
  }
  66.6666666667%, 75% {
    background-color: rgb(250, 248, 234);
  }
  83.3333333333%, 91.6666666667% {
    background-color: #ffeefc;
  }
  100% {
    background-color: #f8f2ea;
  }
}
@keyframes bg-change-margin {
  0%, 8.3333333333% {
    background-color: #fff;
  }
  16.6666666667%, 25% {
    background-color: #f8e4de;
  }
  33.3333333333%, 41.6666666667% {
    background-color: #e7e7e7;
  }
  50%, 58.3333333333% {
    background-color: #def6ff;
  }
  66.6666666667%, 75% {
    background-color: rgb(250, 248, 234);
  }
  83.3333333333%, 91.6666666667% {
    background-color: #ffeefc;
  }
  100% {
    background-color: #f8f2ea;
  }
}
.img {
  display: block;
}

.fixed {
  position: fixed;
  z-index: 2;
}
a.fixed, .fixed a {
  color: currentcolor;
  text-decoration: none;
}

.fixed p {
  margin-block: 0;
}
.fixed--pos-tl {
  top: var(--fixed-m-y);
  left: var(--fixed-m-x);
}
.fixed--pos-tr {
  top: var(--fixed-m-y);
  right: var(--fixed-m-x);
}
.fixed--pos-br {
  right: var(--fixed-m-x);
  bottom: var(--fixed-m-y);
  text-align: right;
}
.fixed--pos-bl {
  right: calc(var(--fixed-m-x) + 64px + 100px);
  bottom: var(--fixed-m-y);
  left: var(--fixed-m-x);
}
.fixed--role-logo {
  height: var(--logo-h);
  aspect-ratio: 519/58;
  padding: 0;
  font-size: xx-large;
  font-weight: bolder;
}
@media (width < 47.5rem) {
  .fixed--role-logo {
    font-size: large;
    font-weight: bolder;
  }
}
.fixed--role-contact {
  font-weight: 700;
  text-decoration: none;
}
.fixed--role-contact:hover {
  text-decoration: underline;
}
@media (width < 62.5rem) {
  .fixed--role-contact {
    display: none;
  }
}
.fixed--role-list {
  padding-left: 0;
  margin-block: 0;
  line-height: 28.8px;
  text-transform: capitalize;
  list-style: none;
}
@media (width < 62.5rem) {
  .fixed--role-list {
    display: none;
  }
}
.fixed--role-list > li > a:hover {
  text-decoration: underline;
}
.fixed--role-about {
  max-width: 30ch;
  font-weight: 700;
  text-wrap: balance;
}
@media (width < 62.5rem) {
  .fixed--role-about {
    display: none;
  }
}
.fixed__copyright {
  font-size: 12px;
  font-weight: 400;
}
.fixed__copyright > a {
  text-decoration: underline;
}
.fixed__copyright > a:hover {
  text-decoration: none;
}

.wrapper {
  z-index: 1;
}

.issue {
  display: grid;
  grid-template-rows: minmax(calc(2 * var(--fixed-m-y) + var(--logo-h)), 1fr) auto 5lh minmax(calc(2 * var(--fixed-m-y)), 1fr);
  grid-template-columns: minmax(var(--fixed-m-x), 1fr) minmax(0, 700px) minmax(var(--fixed-m-x), 1fr);
  min-height: 100svh;
  scroll-snap-align: center;
}
.issue__img {
  grid-row: 2;
  grid-column: 2;
  justify-self: stretch;
}
.issue__text {
  grid-row: 3;
  grid-column: 2;
  text-align: center;
}
.issue__title {
  font-weight: bold;
  text-transform: 700;
  text-transform: capitalize;
}
.issue__link {
  margin-block: 1lh 0;
  font-size: medium;
  font-weight: normal;
}

.footer {
  display: none;
}
@media (width < 62.5rem) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    justify-content: space-between;
    padding-inline: var(--fixed-m-x);
    padding-bottom: var(--fixed-m-y);
  }
}
@media (width < 560px) {
  .footer {
    flex-direction: column-reverse;
    gap: 1lh;
    align-items: center;
    justify-content: center;
  }
}
a.footer, .footer a {
  color: currentcolor;
}

.footer__contact {
  right: var(--fixed-m-x);
  bottom: var(--fixed-m-y);
  font-weight: 700;
  text-decoration: none;
}
.footer__contact:hover {
  text-decoration: underline;
}
.footer__about {
  max-width: 30ch;
  font-weight: 700;
  text-wrap: balance;
}
@media (width < 560px) {
  .footer__about {
    max-width: unset;
    text-align: center;
  }
}
.footer__copyright {
  font-size: 12px;
  font-weight: 400;
}
.footer__copyright > a:hover {
  text-decoration: none;
}